<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
  version="6.1"
  metadata-complete="true">
  
	<listener>
		<listener-class>net.java_school.listener.MyServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>BoardWriter</servlet-name>
		<servlet-class>net.java_school.board.BoardWriter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardWriter</servlet-name>
		<url-pattern>/servlet/BoardWriter</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardModifier</servlet-name>
		<servlet-class>net.java_school.board.BoardModifier</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardModifier</servlet-name>
		<url-pattern>/servlet/BoardModifier</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BoardDeleter</servlet-name>
		<servlet-class>net.java_school.board.BoardDeleter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardDeleter</servlet-name>
		<url-pattern>/servlet/BoardDeleter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoardReplier</servlet-name>
		<servlet-class>net.java_school.board.BoardReplier</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardReplier</servlet-name>
		<url-pattern>/servlet/BoardReplier</url-pattern>
	</servlet-mapping>

</web-app>